body {
  background-color: #18152d;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.329);
}
.container-nav {
  background-color: #2e2c41b3;
}

.custom-gradient-btn {
  background: linear-gradient(135deg, #0d6efd 0%, #6610f2 100%);
  border: none;
  transition: all 0.3s ease;
  transform: scale(1);
}

.custom-gradient-btn:hover {
  background: linear-gradient(135deg, #0d6efd 0%, #6610f2 100%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transform: scale(1.02);
}

.custom-gradient-btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(249, 115, 22, 0.25);
}
